@model RestaurantOnline.Entidades.tbl_Producto
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Agregar Procductos</title>
    <link rel="stylesheet" href="~/css/DataPStyle.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <section class="order" id="order">

        <form asp-controller="AdministrarP" asp-action="Save">

            <div class="inputBox">
                <div class="input">
                    <span> Nombre Producto</span>
                    <input name="nombreProducto" type="text" value="@ViewBag.nombreProducto" placeholder="nombre del producto">
                </div>
                <div class="input">
                    <<input name="producto_id" type="hidden" value="@ViewBag.productoid">
                </div>
            </div>

            <div class="inputBox">
                <div class="input">
                    <span>Precio</span>
                    <input name="precioP" type="number" value="@ViewBag.preciop" placeholder="Ingrese el precio del producto">
                </div>
                <div class="input">
                    <span>Estado</span>
                    <input name="estadoProducto" type="text" value="@ViewBag.estadoProducto" placeholder="Ingrese el estado del producto">
                </div>
            </div>
            <div class="inputBox">
                <div class="input">
                    <span>Imagen</span>
                    <input name="imageP" type="text" value="@ViewBag.imageP" placeholder="Ingrese la URL de la imagen">
                </div>
                <div class="input">
                    @Html.DropDownListFor(x => x.menu_Fk, new SelectList(ViewBag.MList, "Value", "Text"), "Tipo menu", new { @class = "form-control" })
                    @*<select class="form-select form-select-lg mb-3" name="Menu_FK">

            <option value="1">Desayuno</option>
            <option value="2">Almuerzo</option>
            <option value="3">Cena</option>
            <option value="4">Postres</option>
            <option value="5">Bebidas</option>
        </select>*@
                </div>
            </div>

            <input type="submit" value="Agregar" class="btn btn-success">

        </form>

    </section>


    @*<section class="order" id="order">

        <h3 class="sub-heading"> Registra un nuevo producto </h3>

        @using (Html.BeginForm("Save", "AdministrarP", FormMethod.Post))
        {

            <div class="inputBox">
                <div class="input">
                    <input name="producto_id" type="hidden" value="@ViewBag.productoid" type="number">
                </div>
                <div class="input">
                    <span> Nombre del producto</span>
                    <input name="nombreProducto" type="text" value="@ViewBag.nombreProducto" placeholder="nombre del producto">
                </div>
                <div class="input">
                    <span>Precio</span>
                    <input name="precioP" type="number" value="@ViewBag.preciop" placeholder="Ingrese el precio del producto">
                </div>
            </div>

            <div class="inputBox">
                <div class="input">
                    <span>Estado Producto</span>
                    <input name="estadoProducto" type="text" value="@ViewBag.estadoProducto" placeholder="Ingrese el estado del producto">
                </div>
                <div class="input">
                    <span>imagen</span>
                    <input name="imageP" type="text" value="@ViewBag.imageP" placeholder="Ingrese la URL de la imagen">
                </div>
            </div>
            <div class="inputBox">
                <div class="input">
                    <select class="form-select form-select-lg mb-3" name="Menu_FK">

                        <option value="1">Desayuno</option>

                        <option value="2">Almuerzo</option>

                        <option value="3">Cena</option>
                        <option value="4">Postres</option>
                        <option value="5">Bebidas</option>



                    </select>
                    <br />
                </div>

            </div>

            <input type="submit" value="Agregar" class="btn btn-danger">

        }

    </section>*@


</body>
</html>


