@model List<RestaurantOnline.Entidades.tbl_Carrito>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Responsive Food / Resturant Website Design Tutorial</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/EstiloCarrito.css" />

</head>
<body>

    <div id="boton">
        <a class="btn btn-success" asp-action="Index" asp-controller="Home">Regresar al Inicio</a>
        <a class="btn btn-success" asp-action="Regresar" asp-controller="Carrito">Seguir Comprando</a>
    </div>


    <section class="shopping-cart-container">



        <div class="products-container">

            <h3 class="title">Tus Productos</h3>


            <div class="box-container">

                @foreach (var item in Model)
                {

                    @using (Html.BeginForm("Actualizar", "Carrito", FormMethod.Post))
                    {
                        <div class="box">
                            <a asp-controller="Carrito" asp-action="Eliminar" asp-route-id="@item.carrito_id"><i class="fas fa-times"></i></a>

                            <button type="submit" class="btn btn-success"> Actualizar</button>
                            <img src="@item.TblProducto.imageP" alt="">
                            <div class="content">
                                <h3>@item.TblProducto.nombreProducto</h3>
                                <span> Cantidad : </span>
                                <input type="number" name="cantidadP" value="@item.cantidadP" id="">
                                <input type="hidden" name="carrito_id" value="@item.carrito_id"/>
                                <br>
                                <span> price : </span>
                                <span class="pr"> @item.totalP</span>
                            </div>
                        </div>
                    }
                }
            </div>


        </div>

        <div class="cart-total">

            <h3 class="title"> Precio total </h3>

            <div class="box">

                <h3 class="total"> total : <span>$@ViewBag.Total</span> </h3>
                <a class="btn" asp-controller="Orden" asp-action="Orden">
                    Realizar Compra
                </a>

            </div>

        </div>
    </section>
</body>
</html>


