@model List<RestaurantOnline.Entidades.tbl_Carrito>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Responsive Food / Resturant Website Design Tutorial</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="~/css/EstiloCarrito.css">

</head>
<body>

    <section class="shopping-cart-container">

        <div class="products-container">

            <h3 class="title">Tus Productos</h3>

            <div class="box-container">

                @foreach (var item in Model)
                {

                <div class="box">
                    @Html.ActionLink("Eliminar", "Eliminar", "Carrito", new { carrito_id = item.carrito_id }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Actualizar", "Eliminar", "Carrito", new { carrito_id = item.carrito_id }, new { @class = "btn btn-danger" })
                    <img src="@item.TblProducto.imageP" alt="">
                    <div class="content">
                        <h3>@item.TblProducto.nombreProducto</h3>
                        <span> Cantidad : </span>
                        <input type="number" name="" value="@item.cantidadP" id="">
                        <br>
                        <span> price : </span>
                        <span class="pr"> @item.totalP</span>
                    </div>
                </div>

                }

            </div>

        </div>

        <div class="cart-total">

            <h3 class="title"> Precio total </h3>

            <div class="box">

                <h3 class="subtotal"> subtotal : <span>$200</span> </h3>
                <h3 class="total"> total : <span>$200</span> </h3>

                <a href="#" class="btn">proceed to checkout</a>

            </div>

        </div>

    </section>
</body>
</html>


