@model List<RestaurantOnline.Entidades.tbl_Carrito>
@using RestaurantOnline.Helper
@using System.Security.Claims;
@using System.Security.Principal;
@{
    Layout = null;
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
    List<SelectListItem> items2 = (List<SelectListItem>)ViewBag.items2;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fast Food Restaurant/ Orden</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/OrdenStyle.css" />

</head>
<body>


    <section class="order" id="order">

        <h3 class="sub-heading"> Ordena  ahora </h3>
        <h1 class="heading"> Y llegaremos mas rapido de lo que crees </h1>

        <form asp-controller="Orden" asp-action="Venta">

            @if (User.Identity.IsAuthenticated)
            {
                <div class="inputBox">
                    <div class="input">
                        <span> Nombre</span>
                        <input type="text" placeholder="ingresa tu nombre" value="@LoginHelper.GetName(User)" readonly>
                    </div>
                    <div class="input">
                        <span>Correo</span>
                        <input type="text" placeholder="Ingresa tu teléfono" value="@(((ClaimsIdentity)User.Identity).FindFirst(ClaimTypes.Email).Value)" readonly>
                    </div>
                </div>

                <div class="inputBox">
                    <div class="input">
                        <span>Fecha de pedido</span>
                        <input type="text" placeholder="fecha del Pedido" value="@ViewBag.fecha" readonly>
                    </div>
                    <div class="input">
                        <span>Fecha y hora de entrega</span>
                        <input type="datetime-local">
                    </div>
                </div>
                <div class="inputBox">
                    <div class="input">
                        <span>Tipo de pago</span>
                        @Html.DropDownList("datos",items,"Selecciona tu tipo de pago", new {@class = "form-control"})
                        
                    </div>
                    <div class="input">
                        <span>Tipo de documento</span>
                        @Html.DropDownList("valores", items2, "Selecciona tu tipo de documento", new { @class = "form-control" })

                    </div>
                </div>

                <div class="inputBox">

                    <div class="input">
                        <span>Direccion</span>
                        <input type="text" placeholder="Tu dirreccion" name="ubicacion" value="@ViewBag.ubicacion" required>
                    </div>
                    <div class="input">
                        <span>Alguna Referencia</span>
                        <input type="text" placeholder="Escribe alguna referencia a tu direccion" name="referencia" value="@ViewBag.referencia" required>
                    </div>

                    <input type="text" name="domicilio_id" value="@ViewBag.domicilio_id" />

                </div>
            }

        <div id="detalle">

            <table class="table table-striped table-hover">
                <thead>

                <th>Codigo Producto</th>
                <th>Nombre Producto</th>
                <th>Cantidad Producto</th>
                <th>Precio Unitario</th>

                </thead>

                <tbody>

                    @foreach (var iteracion in Model)
                    {
                        <tr>
                            <td>@iteracion.producto_Fk</td>
                            <td>@iteracion.TblProducto.nombreProducto</td>
                            <td>@iteracion.cantidadP</td>
                            <td>@iteracion.TblProducto.precioP</td>
                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3" style="background-color: rgb(174, 214, 241);"><b>Total Final</b></th>
                        <th style="background-color: rgb(174, 214, 241);"><b>$@ViewBag.Total</b></th>
                    </tr>
                </tfoot>
            </table>

            @*<input type="hidden" name="Detalle.Index" id="Detalle.Index" value="0" />
            <input type="hidden" name="Detalle[0].cantidad" id="Detalle[0].cantidad" value="2" />
            <input type="hidden" name="Detalle[0].totalFinal" id="Detalle[0].totalFinal" value="7" />
            <input type="hidden" name="Detalle[0].producto_Fk" id="Detalle[0].producto_Fk" value="3" />

            <input type="hidden" name="Detalle.Index" id="Detalle.Index" value="1" />
            <input type="hidden" name="Detalle[1].cantidad" id="Detalle[1].cantidad" value="1" />
            <input type="hidden" name="Detalle[1].totalFinal" id="Detalle[1].totalFinal" value="4.50" />
            <input type="hidden" name="Detalle[1].producto_Fk" id="Detalle[1].producto_Fk" value="2" />*@


        </div>
            <input type="submit" value="Pagar" class="btnss">

        </form>

    </section>

    @*<script>
    var num = 0;
    function AgregaConcepto() {
        let Cantidad = document.getElementById("Cantidad").value;
        let Precio = document.getElementById("Precio").value;
        let Nombre = document.getElementById("Nombre").value;

        //agregamos tabla
        let Tabla = document.getElementById("tablaConceptos");
        let TR = document.createElement("tr");
        let TDCantidad = document.createElement("td");
        let TDNombre = document.createElement("td");
        let TDPrecio = document.createElement("td");
        let TDTotal = document.createElement("td");
        TR.appendChild(TDCantidad);
        TR.appendChild(TDNombre);
        TR.appendChild(TDPrecio);
        TR.appendChild(TDTotal);
        TDCantidad.innerHTML = Cantidad;
        TDNombre.innerHTML = Nombre;
        TDPrecio.innerHTML = Precio;
        TDTotal.innerHTML = parseFloat(Cantidad) * parseFloat(Precio);
        Tabla.appendChild(TR);

        //agregamos hiddens
        let detalle = document.getElementById("detalle");
        let HiddenIndex = document.createElement("input");
        let Hiddenproducto_Fk = document.createElement("input");
        let HiddennombreProducto = document.createElement("input");
        let HiddencantidadP = document.createElement("input");
        let HiddenprecioP = document.createElement("input");

        HiddenIndex.name = "Detalle.Index";
        HiddenIndex.value = num;
        HiddenIndex.type = "hidden";

        Hiddenproducto_Fk.name = "Detalle[" + num + "].producto_Fk";
        Hiddenproducto_Fk.value = producto_Fk;
        Hiddenproducto_Fk.type = "hidden";

        HiddennombreProducto.name = "Detalle[" + num + "].nombreProducto";
        HiddennombreProducto.value = nombreProducto;
        HiddennombreProducto.type = "hidden";

        HiddencantidadP.name = "Detalle[" + num + "].cantidadP";
        HiddencantidadP.value = cantidadP;
        HiddencantidadP.type = "hidden";

        HiddenprecioP.name = "Detalle[" + num + "].precioP";
        HiddenprecioP.value = precioP;
        HiddenprecioP.type = "hidden";

        detalle.appendChild(HiddenIndex);
        detalle.appendChild(Hiddenproducto_Fk);
        detalle.appendChild(HiddennombreProducto);
        detalle.appendChild(HiddencantidadP);
        detalle.appendChild(HiddenprecioP);

        document.getElementById("producto_Fk").value = "";
        document.getElementById("nombreProducto").value = "";
        document.getElementById("cantidadP").value = "";
        document.getElementById("precioP").value = "";

        num++;
    }
    </script>*@


</body>
</html>
